body {
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    color: black;
    text-align: center;
    font-size: 90px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: #277bff;
    font-size: 35px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
}

h3 {
    text-align: left;
    color: #277bff;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.the {
    text-align: center;
    color: #277bff;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
}

.faq {
    color: #277bff;
    font-weight: 500;
    font-style: italic;
    font-size: 18px;
}

/* for centering photo */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.quote {
    font-size: 20px;
}

.quotation-mark {
    color: #277bff;
}

.flex-container {
    background-color: #277bff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    color: #f1f1f1;
    height: auto;
    border-radius: 30px;
}

@media (max-width: 900px) {
    .flex-container {
        flex-direction: column;
        border-radius: 20px;
    }
    .point {
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 3%;
        margin-right: 3%;
    }
}

.point {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}